
<div class ="maintitle">Add New Employee</div>


<%= form_for @employee  , :class => 'login' do  |f|%>





<p>
<%=f.label :FirstName%>
<%=f.text_field :first_name%>
</p>
<p>
<%=f.label :LastName%>
<%= f.text_field :last_name%>

</p>

<p>
<%=f.label :EmployeeID%>
<%= f.text_field :employee_id%>

</p>
<p>
<%=f.label :Address%>
<%= f.text_area :address%>

</p>

<p>
<%=f.label :PhoneNumber%>
<%= f.text_field :phone_number%>

</p>

<p>
<%=f.label :Email%>
<%= f.text_field :email%>

</p>

<p>
<%=f.label :Designation%>
<%= f.text_field :designation%>

</p>

<p>
<%=f.label :Team%>
<%= f.text_field :team%>

</p>

<p>
<%=f.label :PanNumber%>
<%= f.text_field :pan_number%>

</p>

<p>
<%=f.label :'DOB'%>
<%= f.text_field :dob%>

</p>


<p>
<%=f.label :HDFCACCOUNT%>
<%= f.text_field :hdfc_accno%>

</p>
<p>
<%=f.label :'Gross CTC'%>
<%= f.text_field :gross_ctc%>

</p>


<p>
<%= f.submit "submit "%>


</p>






<%end%>
